<!doctype html>
<html lang="en-gb">
<head>
    <title>Conway</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
<img id="cellsImg"
     alt="conway"
     ismap>

<p id="responseP"></p>

<script>
    const cellsImg = document.getElementById("cellsImg");
    const cellsImgUrl = "{{ url_for('cells_png_view') }}";
    const responseP = document.getElementById("responseP");

    const gliderCreateUrl = "{{ url_for('glider_create_controller') }}";
    const flipCellUrl = "{{ url_for('flip_cell_controller') }}";

    function refreshImg() {
        cellsImg.src = cellsImgUrl + '?' + new Date().getTime();
    }

    function getClickLocation(evt, img) {
        /* Naive solution (doesn't handle scaled images */
        /*
        const x = evt.pageX - this.offsetLeft;
        const y = evt.pageY - this.offsetTop;
        */

        /* Better solution https://stackoverflow.com/a/58568016 */
        const bounds = img.getBoundingClientRect();
        const left = bounds.left;
        const top = bounds.top;
        const x = evt.pageX - left;
        const y = evt.pageY - top;
        const cw = img.clientWidth;
        const ch = img.clientHeight;
        const iw = img.naturalWidth;
        const ih = img.naturalHeight;
        const px=Math.floor(x/cw*iw);
        const py=Math.floor(y/ch*ih);
        return {"x": px, "y": py};
    }

    async function clickListener(evt) {
        const xy = getClickLocation(evt, this);
        const resp = await fetch(gliderCreateUrl, {
            method: 'POST',
            headers: {"Content-type": "application/json; charset=UTF-8"},
            body: JSON.stringify(xy)
        })
        responseP.innerText = await resp.text();
        refreshImg();
    }

    async function rightClickListener(evt) {
        evt.preventDefault();
        evt.stopPropagation();
        const xy = getClickLocation(evt, this);
        const resp = await fetch(flipCellUrl, {
            method: 'POST',
            headers: {"Content-type": "application/json; charset=UTF-8"},
            body: JSON.stringify(xy)
        })
        responseP.innerText = await resp.text();
        refreshImg();
        return false;
    }

    refreshImg();
    setInterval(refreshImg, {{ UPDATE_S }} * 1000);

    cellsImg.addEventListener("click", clickListener);
    cellsImg.addEventListener("contextmenu", rightClickListener);
</script>

</body>
</html>
